body{
    background-color:white;
    font-family: Tahoma;
    font-size: 12px;
}

.header {
    text-align: center;
  }
  
header,h1 .header{
    color: #CC0033;
}

table{
    display: flex;
    justify-content: center;

}

table,tr,td {
    border: 1px solid rgb(247, 164, 56);
    border-collapse: collapse ;
}

td{
    text-align: center;
}
table .red{
    background-color: #CC0033;
    color: #FFFFFF;
}
table .name{
    color: #CC0033;
}
table .end{
    text-align: left;
}

.box {
    border: 0px solid #ccc;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
  }